body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(237, 237, 237);

    /* background-image: url('images/background_2.png'); */
}

.information{
    font-family: 'Press Start 2P', cursive;
    color: black;
    /* display: flex;
    flex-direction: row; */
}

.p5Canvas{
    padding: 7px;
    background-color: rgb(0, 45, 0);
}



